<!-- empleados/templates/empleados.html -->
{% extends 'base.html' %}
{% block title %}Lista de Empleados{% endblock %}

{% block header %}
    <h2>Lista de Empleados</h2>
{% endblock %}

{% block content %}
    <div>
        {% for empleado in empleados %}
            <div>
                {% if empleado.imagen %}
                <img src="{{ empleado.imagen.url }}" alt="{{ empleado.nombre }}">
                {% endif %}
                <h2>{{ empleado.nombre }}</h2>
                <p>{{ empleado.descripcion|truncatechars:100 }}...</p>
                <p>${{ empleado.salario }}</p>
                <button>Asignar tarea</button>
                <a href="{% url 'detalle' empleado.id %}"><button>Detalles</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}